.game-card {
  display: flex;
  background-color: #2983AA;
  margin-top: 1.25rem;
}

.game-card img {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.info h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.info p {
  color: #C7C7C7;
  text-transform: capitalize;
}

.info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.info-inner h2 {
  font-size: 2rem;
  color: #BEEB14;
}

.info-inner button {
  padding: 0.9375rem 1.5rem;
}