.navbar {
  background-color: #171a21;
  height: 6.25rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.75rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 25rem;
  background-color: #316282;
  padding: 8px 10px;
}

.search input {
  background-color: #316282;
  color: #C7C7C7;
  outline: none;
  border: none;
  font-style: italic;
}

.search svg {
  cursor: pointer;
}