.navbar {
  background-color: #171a21;
  height: 6.25rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.75rem;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar input {
    max-width: auto;
  }
}